*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main-c{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color:#6F4E37;
}
.logo img{
    width: 80px;
    margin: auto;
}
.lg img{
    width: 80px;
    margin: auto;
}
.lg{
    color: #fff;
}
nav li{

    list-style-type: none;
}
nav li a{
    text-decoration: none;
}
ul{
    display: flex;
    gap: 20px;
}
li a{
    border: 1px solid rgb(158, 80, 80);
    border-radius: 20px;
    padding: 7px 35px;
    color: white;
    font-size: 10px;
    font-weight: 800;

} 
li a:hover{
    background-color: #4d3727;
}  
.wrapper{
    display: flex;
    align-items: center;  
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #6F4E37;
    padding: 20px ;
}
.left-item{
    margin-left: 100px;
    color: whitesmoke; 
    
}
.rightitem img{
    border-radius: 5px;
}
.btn{
    margin: 1rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid #9c6c49;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
}
.btn:hover{
    background-color: #4d3727;
}
.btn1{
    margin: 1rem;
    padding: 0.3rem 0.1rem;
    border: 2px solid #9c6c49;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}
.btn1:hover{
    background-color: #4d3727;
}
.left-item h1{
    font-size: 70px;
}
.left-item h3{
    color: #fff;
    opacity: 0.7;
    font-size: 25px;
}
.box-container{
   
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #6F4E37;
    gap: 18px;
    
}
.wrap{
    max-width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
}

.box{
    border: 1px solid #c59370;
    border-radius: 8px;
    background-color: #352418;
    padding-bottom: 10px;
}
input{
   outline: none;
   border-bottom: 2px solid #4a372a ;
   background-color: transparent;
   border-top: none;
   border-left: none;
   border-right: none;
   padding: 3px;
}
::placeholder{
    color: #fff;
    opacity: 0.8;
}
#hu{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 800;
}
#l1{
    display: flex;
}
#l1 h3{
    margin: auto;
    color: wheat;
    font-size: 12px;
    font-weight: 500;
}
#pi{
    display: flex;
    gap: 100px;
    
}
.cnt{
    border: 1px solid #9c6c49;
    padding: 2rem;
    width: 45%;
    border-radius: 8px;
   
    
}
.cnt > h1{
    color: white;
    font-size: 50px;
    width: 60%;
}
.cnt > p{
    color: #cdb9ab;
    letter-spacing: 1.3px;
    text-align: left;
    
}
.icon{
    padding: .5rem;
    margin: 1rem 0;
    height: 20px;
    width: 20px;
    border: 3px solid #474646;
    border-radius: 100%;
}
form{
    display: grid;
}
.search h1{
    text-align: center;
    padding:10px;
    font-weight: 600;
    color: #fff;
    font-size: 30px;
}
.search-all{
    max-width: 1200px;
    margin: 0 auto;
    background-color:#6F4E37;
    padding: 30px;
    padding-top: 20px;
}
.mu{
    padding: 5rem 0;
    background-color: #6F4E37;
    max-width: 1200px;
    margin: 0 auto;
}
.im{
    width: 100%;
    height: 120px;
   
}
.im > img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2px 4px;
    border-radius: 8px;
   
}
.box > h1{
    padding: 1rem 0.5rem;
    color: #fff;
    font-weight: 800;
    font-size: 15px;
   text-align: center;
}
.wp{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #6F4E37;
}
.pic img{
    width: 400px;
    border-radius: 5px;
   
}
.pic{
    width: 30%;
}
.info{
    display: grid;
    justify-content: center;
    background-color: #6F4E37;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
   
}
.support{
    display: flex;
    border: 2px solid #b86d38; 
    align-items: center;
    background-color: #352418;
    color: #fff;
    border-radius: 8px;
    font-weight: 550;
    font-size: 15px;
    
}
.support1{
    display: flex;
    border: 2px solid#b86d38 ; 
    align-items: center;
    justify-content: space-between;
    background-color: #352418;
    color: #fff;
    border-radius: 8px;
    font-weight: 550;
    font-size: 15px;
}
.support2{
    display: flex;
    border: 2px solid #b86d38; 
    align-items: center;
    justify-content: space-between;
    background-color: #352418;
    color: #fff;
    border-radius: 8px;
    font-weight: 550;
    font-size: 15px;
}
.support3{
    display: flex;
    border: 2px solid #b86d38; 
    align-items: center;
    justify-content: space-between;
    background-color: #352418;
    color: #fff;
    border-radius: 8px;
    font-weight: 550;
    font-size: 15px;
}
.support4{
    display: flex;
    border: 2px solid #b86d38; 
    align-items: center;
    justify-content: space-between;
    background-color: #352418;
    color: #fff;
    border-radius: 8px;
    font-weight: 550;
    font-size: 15px;
}
.info p{
   
    padding: 15px;
    margin: 5px;
    margin-right: 0;
}
span{  
    padding: 20px;
    background-color: tomato;
    color: white;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}
form{
    display: grid;   
    gap: 10px; 

}
.r{
    display:flex;
   flex-direction: column;
   gap: 20px;
}
.hlp{
    display: flex;
    gap: 10px;
    color: #000;
    padding: 5px;
}

.add{
    background-color: rgb(190, 117, 104);
    padding: 2px 8px;
}
.d-p{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 55px;
    background-color:#352418;
   
}
.all-c{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#6F4E37;
    border: 2px solid red;
    border-radius: 8px;
    margin-top: 40px;
    padding: 10px;
  
}

.container-all{
    background-color:#4d3727;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 5px;
}
.ali{
    max-width: 1200px;
    margin: 0 auto;
}
.container-all > h1{
    font-size: 35px;
    padding: 5px;
}
/* .m{
    display: flex;
    flex-direction: row;
} */
.dst{
    background-color:#4d3727;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 1.5rem;
    /* margin: 5px 10px; */
}
.l-a > img{
    width: 100px;
    height: 100px;
}
.l{
    width: 25%;
    color: #ebe3dd;
}
.l > h1{
    padding: 3px 0;
}
.lp h3{
    padding: 2px 0;
}
.lp h5{
    padding: 5px 0;
    color: #cdb9ab;
}
.lp p{
    color: #cdb9ab;
}
.m-a > img{
    width: 100px;
    height: 100px;
}
.r-a > img{
    width: 100px;
    height: 100px;
}
#outer{
    
    margin: 5px 12px;
    padding: 1.5rem;
    border: 2px solid #9c6c49;
    border-radius: 5px;
    
}
/* .search{
    padding: 100px;
    background-color: palevioletred;
} */
.sita{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#6c4d36 ;
    padding: 1rem;
}
.lg{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.ql a{
    text-decoration: none;
    list-style: none;
}
.ql h1{
    font-size: 20px;
    color: #fff;
    font-weight: 800;
}
.ql{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 5px;
    gap: 8px;
   
   
}
.ql a{
    color:#cdb9ab;
    font-weight: 400;
    font-size: 15px;
    opacity: 0.9;
}
h4{
    text-align: center;
    color:#cdb9ab;
    background-color: #4d3727;
    max-width: 1200px;
    margin: 0 auto;

}
.mia > h1 {
    font-size: 20px;
    color: #fff;
}
.mia > h3{
    font-size: 15px;
    font-weight: 300;
    color: #cdb9ab;
    padding: 4px;
}

.con{
    width: 30%; 
    display: flex;
    justify-content:center ;
    flex-direction: column;
    gap: 15px;
}
.con >h1{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    
}
.con > p{
    font-size: 13px;
    font-weight: 800;
}
.mia{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    
}
.lst{
    display: flex;
    border: 2px solid rgb(179, 84, 84);
    justify-content: space-between;
    border-radius: 8px;
   
}
button{
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    margin-right: 1rem;
}
#rem{
    outline: none;
    border-bottom: none;
    padding: 10px;
}
.con p{
    color: #cdb9ab;
    font-size: 300;
    font-weight: 500;
}
.ic{
  
    border: 2px solid rgb(167, 23, 23);
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    padding: 18px;
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    cursor: pointer;

}
.ic:hover{
    background-color: #545517;
}